In [1]:
import os

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

# 1) Carga las vars del .env
load_dotenv()

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
db = os.getenv('DB_NAME')
table_name = os.getenv('TABLE_NAME')

# 2) Crea la URL de conexión
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{db}')

# 3) Lee todas las tablas de dataset_db
try:
    data = pd.read_sql(f'SELECT * FROM {table_name};', con=engine)

except Exception as e:
    print(f'Error al leer las tablas: {e}')
    data = pd.DataFrame()

finally:
    display(data)

,id,cat1,cat2,cont1,cont2,cont3,cont4,disc1,disc2,target
0,0000fa0f4a3d,E,Y,-0.0252,0.7564,0.3860,9.0443,1,1,0
1,000126709348,B,X,-0.5153,0.3024,0.8023,4.5535,1,2,0
2,000162801a33,A,Z,-0.6490,0.9246,1.2132,3.4934,2,1,0
3,0001c0359dc2,D,Z,1.9352,0.1897,3.6610,2.9801,1,4,1
4,0001e1d9e012,C,Y,2.0227,0.5785,0.4027,7.3336,3,2,0
...,...,...,...,...,...,...,...,...,...,...
249995,ffff256f25d7,D,Y,0.1625,0.3473,0.5243,2.6480,0,5,0
249996,ffff286fded7,E,X,2.4786,0.9695,3.0398,7.5731,0,2,1
249997,ffff2f9bed41,B,Z,1.3884,0.7817,0.3246,1.5165,1,4,1
249998,ffff31ed08ca,D,X,0.2094,0.3814,0.1868,4.3629,2,3,0
249999,fffff128e3f1,D,X,-0.8705,0.0193,0.5891,3.9208,0,5,0

In [2]:
from deepchecks.tabular import Dataset
from deepchecks.tabular.suites import data_integrity

# 1) Crear el dataset
dataset = Dataset(
    df=data, label='target', cat_features=['cat1', 'cat2', 'disc1', 'disc2']
)

# 2) Crea y ejecuta la suite de integridad
result = data_integrity().run(dataset)  # corre todos los checks

# 3) Muestra el informe
result.show()

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_HQQA6TR0OFRHFSRCBV4O45AQN">Data Integrity Sui…